@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-d-background: oklch(14.1% 0.005 285.823);
  --color-l-background: oklch(96.7% 0.001 286.375);
  --color-d-component: oklch(27.8% 0.033 256.848);
  --color-l-component: oklch(87.1% 0.15 154.449);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}